@font-face {
    font-family: 'Montserrat';
    src:url(fonts/Montserrat-Medium.ttf);
}

@font-face {
    font-family: 'Montserrat';
    src:url(fonts/Montserrat-Bold.ttf);
    font-weight: bold;
}

@font-face {
    font-family: 'Montserrat';
    src: url(fonts/Montserrat-Light.ttf);
    font-weight: lighter;
}

html, body, header, section, h1, h2, h3, div, span, article, ul, li, p, footer{
    margin: 0;
    padding: 0;
    border: 0;
}

.wrapper{
    font-family: Montserrat;
    background-image: linear-gradient(to right, black 32%, white 10%);
    background-position: left bottom;;
    background-repeat:no-repeat;
}

/* первый этаж */
.header{
    min-width: 319px;
}

.header > div{
    display:flex;
    justify-content: space-between;
}

.header__logo {
    position: relative;
    width: 98px;
    height: 37px;
    left: 62px;
    top:25px;
    font-size: 30px;
    font-weight: 10px;
    letter-spacing: 0.07em;
    color: #FFFFFF;
}

.header__language_icon{
    position: relative;
    right: 240px;
    width: 170px;

}

.header__language{
    position: relative;
    top:30px;
    right: 50px;
    color: #FFFFFF;
}

.header__language_arrow{
    position: relative;
    left: 30px;
    bottom: 28px;
    width: 4vmin;
  	height: 4vmin;
  	transform: rotate(135deg);
    color:white;


}

.header__language_arrow::before {
		content: '';
		width: 35%;
		height: 35%;
		border-width: .4vmin .4vmin 0 0;
		border-style: solid;
		border-color: #fafafa;
		display: block;
		transform-origin: 100% 0;
	}

  .menu_btn{
    width:82px;
    height:82px;
    bottom: 96px;
    background-color:#EDECE8;
    left: 80%;
  }

  .icon_1{
    position: relative;
    top:30px;
    left: 24px;
    width:36px;
    height: 3.48px;
    background-color:#222;

  }

  .icon_2{
    position: relative;
    top:42px;
    left: 24px;
    width:36px;
    height: 3.48px;
    background-color:#222;
  }

    /* основное */


  .main_page__special{
    display: flex;
    justify-content: space-between;

  }
  .main_page__image{
    width: 499px;
    height: 512px;
    position: relative;
    left: 16%;
    top:40px;
  }

  .main_page__border{
    width: 420px;
    height: 420px;
    position: relative;
    right: 270px;
    top:100px;
  }

  .main_page__title{
    line-height: 60px;
    position: relative;
    width: 367px;
    height: 127px;
    font-size: 65px;
    font-weight: bold;

  }

  .main_page__article{
    position: relative;
    width: 400px;
    height: 127px;
    line-height: 23px;
    font-size: 15px;
    font-style: normal;
  }

  .main_page__remark_1{
    position: relative;
    width: 193px;
    height: 44px;
    top:50px;
    font-size: 14px;
    border: 1.5px solid black;
  }

  .main_page__remark_1 > div{
    margin: 15px 0 0 33px;
  }

  .main_page__remark_2{
    position: relative;
    width: 193px;
    height: 44px;
    left: 220px;
    top:20px;
    font-size: 14px;
  }
  .arrow{
    content: "\27F6";
    position: relative;
    width: 199px;
    height: 44px;
    left: 200px;
    bottom:25px;
    font-size: 25px;
  }

  .main_page__container{
    position: relative;
    top:70px;
    min-width: 200px;
    max-width: 49.03%;
    height: 50px;
    display: flex;
    justify-content: space-between;

  }

  .social{
    position: relative;
    width: 300px;
    height: 50px;
    left: 30px;
  }

  .social > li{
    margin: 0 0 0 11px;
    float: left;
    list-style:none;
    width: 30px;
    height: 30px;
    cursor: pointer;
    border-radius: 50%;
    border: 5px solid #fff;
    background: #fff;
  }


  .vk_icon{
    width: 16px;
    height: 16px;
    margin: 11px 0 0 7px;
  }
  .facebook_icon{
    width: 10px;
    margin: 5px 0 0 10px;
  }
  .inst_icon{
    width: 16px;
    height: 16px;
    margin: 8px 0 0 7px;
  }

  .page_next{
    width: 27px;
    height: 46px;
    border: 2px solid #000000;
    box-sizing: border-box;
    border-radius: 15px;
  }

  .page_next > div{
    position: relative;
    top:10px;
    left:10px;
    width: 2.45px;
    height: 8.21px;
    background: #000000;
    border-radius: 19px;
  }

@media screen and (max-width: 1296px){

  .header__language{
      right: 20px;
  }

  .main_page__image{
      left: 14%;
      width: 469px;
      height: 492px;
  }

  .main_page__border{
    right: 11%;
  }

}

@media screen and (max-width:1242px){
  .wrapper{
    background-image: linear-gradient(to right, black 32%, white 10%);
  }
  .main_page__image{
    left: 11.8%;
    height: 429px;
    width: 452px;
  }

  .main_page__container{
    top:133px;
  }
}

@media screen and (max-width:1185px){
  .main_page__border{
    right: 5%;
  }

}

@media screen and (max-width:1062px){

  .header__language{
      left: 15px;
  }


  .main_page__image{
    width: 369px;
    height: 392px;
    top:70px;
    left: 14%;
  }

  .main_page__border{
    right: 3%;
  }
}

@media screen and (max-width:971px){
  .wrapper{
    background-image: none;
  }
  .header__logo{
    position: relative;
    color:#000000;
    font-size: 34px;
    top: 10px;
  }

  .main_page__image{
    display: none;
  }
  .main_page__special{
    height: 670px;
    background-image: url(images/mobile_1.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-clip: border-box;
  }

.header__language{
  font-size: 0;
}

  .header__language_arrow{
    position: relative;
    left: 43vh;
    top:89vh;

  }

  .header__language_arrow::before {
    top:90em;
    content: '';
    width: 150%;
    height: 150%;
    border-width: .9vmin .9vmin 0 0;
    border-style: solid;
    border-color: #000000;
  }

  .main_page__border{
    left: 29%;
    top:70%;
    width:0;
    max-width: 300px;
    min-width: 200px;
    height: 0;
    min-height: 200px;
  }

.main_page__title{

  font-size: 50px;
  width: 0;
  max-width: 300px;
  min-width: 200px;
  }

  .main_page__article{
    display: none;
  }

  .main_page__remark_1{
    display: none;
  }
  .main_page__remark_2{
    display: none;
  }

  .social{
    display: none;
  }

  .arrow{
    display: none;
  }

  .page_next{
    display: none;
  }

}

@media screen and (max-width: 446px){
  .main_page__title{
    font-size: 32px;
    line-height: 41px;
  }
}
/* второй этаж */

.page_with_bags{
    position: relative;
    top: 380px;
    width: auto;
    height: 100.1vh;
    background: #FAE8E4;
    background-size: cover;

}

.page_with_bags__images{
  display: none;
}
.page_with_clothes{
    display: none;
}
